h1 {
  padding: 7rem 7% 1.4rem;
  text-align: center;
}

.list-card-product {
  display: flex;
}

/*Footer*/
footer li {
  margin-bottom: 10px;
  line-height: 25px;
}

footer a {
  color: #000;
}

.copyright {
  text-align: center;
  margin-top: 16px;
}
